<!DOCTYPE html>
<!--Developed by: 620122579-->
<link rel = "stylesheet" href = "{{url_for('static', filename = 'css/styles.css')}}"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href=".{{url_for('static', filename = 'css/ui.css')}}" rel="stylesheet" type="text/css"/>
<link href=".{{url_for('static', filename = 'css/order.css')}}" rel="stylesheet" type="text/css"/>
<link href=".{{url_for('static', filename = 'css/responsive.css')}}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<html>
    <head>
        <!--TEMPLATE FROM: https://mdbootstrap.com/snippets/jquery/pjoter-2-0/747937 -->
        
        <title>Order Form</title>
        
        <srcipt src = "jquery-3.2.1.min.js"></srcipt>
        <script src = "{{url_for('static', filename = 'js/script.js')}}"></script>
        <!-- -->
        <!-- Datepicker JS and CSS provided by https://jqueryui.com/datepicker/-->
        
        
        
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- -->
        <!-- change the form based on selections -->
        <script>
            $(document).ready(function()
            {
                    $("#datepicker").datepicker();
                    $("#datepicker").change(function()
                    {
                      console.log(this.value)
                    });
                    $("#new_meas").change(function()
                        {
                            console.log("hello")
                            if(this.checked == true)
                            {
                                $('#existing-measures').hide();
                                $('#new-measures').show();
                                $('#measurements').show();
                            }
                            else
                            {
                                $('#existing-measures').show();
                                $('#new-measures').hide();
                                $('#measurements').show();
                            }

                        }
                    );
                    
            });
        </script>
        <script>
            $(document).ready(function()
            {
              $(' .shirt').hide();
              $(' .shorts').hide();
              $(' .skirt').hide();
              $(' .blouse').hide();
              $(' .pants').hide();
                    $("#job_type").change(function()
                        {
                            var val = $(this).children("option:selected").val().split("-");
                            console.log(val)
                            if(val[0] === "Pants")
                            { 
                                
                                $(' .shirt').hide();
                                $(' .shorts').hide();
                                $(' .skirt').hide();
                                $(' .blouse').hide();
                                $(' .pants').show();
                                $('#undecided').hide()
                                //$('input.pants').show().siblings().hide();
                                $('.pants').children().children().attr("required", true);
                                $('.pants').siblings().children().children().attr("required", false);
                                $('#set-meas-name').show();
                                $('#appt-needed').show();
                                $('#set-meas-name').attr("required", true);
                            }
                            if(val[0] === "Blouse")
                            {
                                console.log("Blouse");
                                
                                $(' .shirt').hide();
                                $(' .shorts').hide();
                                $(' .skirt').hide();
                                $(' .pants').hide();
                                $(' .blouse').show();
                                $('.blouses').children().children().attr("required", true);
                                $('#set-meas-name').show();
                                $('#appt-needed').show();
                                $('.blouses').siblings().children().children().attr("required", false);
                                $('#set-meas-name').attr("required", true);
                            }
                            if(val[0] === "Shirt")
                            {
                                
                                $(' .shorts').hide();
                                $(' .skirt').hide();
                                $(' .blouse').hide();
                                $(' .pants').hide();
                                $(' .shirt').show();
                                $('#undecided').hide()
                                $('.shirts').children().children().attr("required", true);
                                $('#set-meas-name').show();
                                $('#appt-needed').show();
                                $('.shirts').siblings().children().children().attr("required", false);
                                $('#set-meas-name').attr("required", true);
                            }
                            if(val[0] === "Skirt")
                            {
                                
                                $(' .shorts').hide();
                                $(' .blouse').hide();
                                $(' .pants').hide();
                                $(' .shirt').hide();
                                $(' .skirt').show();
                                $('#undecided').hide()
                                $('.shirts').children().children().attr("required", true);
                                $('#set-meas-name').show();
                                $('#appt-needed').show();
                                $('.shirts').siblings().children().children().attr("required", false);
                                $('#set-meas-name').attr("required", true);
                            }
                            if(val[0] === "Shorts")
                            {
                                $(' .skirt').hide();
                                $(' .blouse').hide();
                                $(' .pants').hide();
                                $(' .shirt').hide();
                                $(' .shorts').show();
                                $('#undecided').hide()
                                $('.shirts').children().children().attr("required", true);
                                $('#set-meas-name').show();
                                $('#appt-needed').show();
                                $('.shirts').siblings().children().children().attr("required", false);
                                $('#set-meas-name').attr("required", true);
                            }
                            if(val[0] == "Select a job type...")
                            {
                                $(' .shorts').hide();
                                $(' .skirt').hide();
                                $(' .blouse').hide();
                                $(' .pants').hide();
                                $(' .shirt').show();
                                $('#undecided').hide()
                                $('.shirts').children().children().attr("required", true);
                                $('#set-meas-name').show();
                                $('#appt-needed').show();
                                $('.shirts').siblings().children().children().attr("required", false);
                                $('#set-meas-name').attr("required", true);
                            }
                            var type = ($(this).children("option:selected").attr('name'));
                            
                            $('#job_type').attr("value", type);
                        }
                    );
            });
        </script>
        <!-- -->
        
    </head>
    <body>
        
        
        <!--Header goes here-->
        <a href = "{{url_for('home')}}">Home</a>
        <a href = "{{url_for('view_orders')}}">View Orders</a>
        <a href = "{{url_for('logout')}}">Logout</a>
        <br>
        <br>
        <br>
        <form id = "order-form" method = "POST" action = "order" class="order-form my-4 mx-4 body" style="margin-left:145px;">
          {{ form.csrf_token }}
                <div class="container pt-4">

                  <div class="row">
                    <div class="col-12">
                      <span>Place a Custom Job Order</span>
                        <br>
                        <hr class = "mt-1">
                      <span><i>*Note, jobs with less than 10 days before their due date incur extra charge.</i></span>
                      <hr class="mt-1">
                    </div>
                    <div class="col-12">

                      <div class="row mx-4">
                        <div class="col-12 mb-2">
                          <label class="order-form-label">Name</label>
                        </div>
                        <div class="col-12 col-sm-6">
                        {{  form.fname(class_ = "order-form-input")  }}
                        </div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0">
                          {{  form.lname(class_ = "order-form-input")  }}
                        </div>
                      </div>

                      <div class="row mt-3 mx-4">
                        <div class="col-12">
                          <label class="order-form-label">Type of garment you want to order</label>
                        </div>
                        <div class="col-12">
                          {{  form.job_type(class_ = "order-form-input")  }}
                          {{  form.job_type_text(class_ = "hidden")  }}
                        </div>
                      </div>

                      <div class="row mt-3 mx-4">
                        <div class="col-12">
                          <label class="order-form-label">Measurement Preset:</label>
                        </div>
                        <div class="row mt-3 mx-4">
                            <div class="col-12">
                              <div class="form-check">
                                {{  form.new_meas(class_ = "form-check-input")  }}
                                <label for="validation" class="form-check-label">Use new Measurements?</label>
                              </div>
                            </div>
                        </div>
                        <div class="col-12" id = "existing-measures" hidden>
                            {{  form.meas_select(class_ = "order-form-input")}}
                        </div>
                        <div class = "col-12" id = "new-measures">
                            <div class = "col-12">
                              <label>Name this measurement: </label>
                            </div>
                            <div id = "set-meas-name">
                                <div class="col-12 col-sm-6">
                                    {{  form.meas_name(class_ = "order-form-input")  }}
                                </div>
                            </div>
                            <div id = "undecided">
                                <div class="col-12 col-sm-6">
                                    <input class="order-form-input" value = "Please pick a job category."readonly/>
                                </div>
                            </div>
                            <div id = "measurements" hidden>
                                <div class = "col-12" id = "form-labels">
                                    <span class = "shirt" >Shirts:</span>
                                    <span class = "skirt" >Skirts:</span>
                                    <span class = "blouse" >Blouses:</span>
                                    <span class = "shorts" >Shorts:</span>
                                    <span class = "pants" >Pants:</span>
                                </div>

                                <div class="col-12">
                                  <label class="order-form-label shirt pants skirt shorts blouse">Length</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_length"/> -->
                                    {{  form.length(class_ = "order-form-input shirt pants skirt shorts blouse")  }}
                                </div>

                                <div class="col-12">
                                  <label class="order-form-label shirt pants skirt shorts blouse">Waist</label>
                                </div>
                                <div class="col-12 col-sm-6 shirt pants skirt shorts blouse">
                                    <!-- <input class="order-form-input" name = "s_waist"/> -->
                                    {{  form.waist(class_ = "order-form-input shirt pants skirt shorts blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt pants skirt shorts blouse">Hip</label>
                                </div>
                                <div class="col-12 col-sm-6 shirt pants skirt shorts blouse">
                                    <!-- <input class="order-form-input" name = "s_hip"/> -->
                                    {{  form.hip(class_ = "order-form-input shirt pants skirt shorts blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt blouse">Armhole</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_armhole"/> -->
                                    {{  form.armhole(class_ = "order-form-input shirt blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt blouse">Bust</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_bust"/> -->
                                    {{  form.bust(class_ = "order-form-input shirt blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt blouse">Sleeve</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_sleeve"/> -->
                                    {{  form.sleeve(class_ = "order-form-input shirt blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt blouse">Bicep</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_bicep"/> -->
                                    {{  form.bicep(class_ = "order-form-input shirt blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt blouse">Neck</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_neck"/> -->
                                    {{  form.neck(class_ = "order-form-input shirt blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt blouse">Shoulder</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_shoulder"/> -->
                                    {{  form.shoulder(class_ = "order-form-input shirt blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt blouse">Across Back</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_across-back"/> -->
                                    {{  form.across_back(class_ = "order-form-input shirt blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label shirt blouse">Bust Point</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "s_bust-point"/> -->
                                    {{  form.bust_point(class_ = "order-form-input shirt blouse")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label pants shorts">Around Leg</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "sh_round-leg" /> -->
                                    {{  form.round_leg(class_ = "order-form-input shorts pants")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label pants shorts">Around Knee</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!-- <input class="order-form-input" name = "sh_round-knee" /> -->
                                    {{  form.round_knee(class_ = "order-form-input shorts pants")  }}
                                </div>
                                <div class="col-12">
                                  <label class="order-form-label pants">Ankle</label>
                                </div>
                                <div class="col-12 col-sm-6">
                                    {{  form.ankle(class_ = "order-form-input pants")  }}
                                </div>
                          </div>
                            <div class="row mt-3 mx-4">
                                <div class="col-12">
                                    <div class="form-check">
                                        <!-- <input type="checkbox" class="form-check-input" name="appt-needed" id="appt-needed" checked value = 1> -->
                                        {{  form.need_appt(class_ = "form-check-input")  }}
                                        <label for="validation" class="form-check-label">Do you need an appointment to find out your measurements?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                      <div class="row mt-3 mx-4">
                        <div class="col-12">
                          <label class="order-form-label" for="date-picker-example">Due Date <i>YYYY-MM-DD</i></label>
                        </div>
                        <div class="col-12">
                          <!-- <input class="order-form-input datepicker" placeholder="" type="text" id="datepicker" name = "due-date"> -->
                          {{  form.due_date(class_ = "order-form-input datepicker")  }}
                        </div>
                      </div>

                      <div class="row mt-3 mx-4">
                        <div class="col-12">
                          <label class="order-form-label">Address</label>
                        </div>
                        <div class="col-12">
                          <!-- <?php
                            if($_GET)
                            {
                                if($template)
                                {
                                    if ($template['delivery_address'])
                                    {
                                        $input = '<input class="order-form-input" name = "addr" value = "'.$template['delivery_address'].'">';
                                    }
                                    else
                                    {
                                        $input = '<input class="order-form-input" name = "addr" value = "'.$user_data['home_address'].'">';
                                    }
                                }
                            }
                            else
                            {
                                $input = '<input class="order-form-input" name = "addr" value = "'.$user_data['home_address'].'">';
                            }
                            
                            
                            
                            echo $input;
                          ?> -->
                          <!-- Find out some way to add default values -->
                          {{  form.addr(class_ = "order-form-input")  }}
                        </div>
                      </div>
                        
                      <div class="row mt-3 mx-4">
                        <div class="col-12">
                          <label class="order-form-label">Contact Number</label>
                        </div>
                        <div class="col-12">
                          <!-- <?php
                            if($_GET)
                            {
                                if($template)
                                {
                                    if ($template['delivery_address'])
                                    {
                                        $input = '<input class="order-form-input" name = "phone" value = "'.$template['contact_num'].'">';
                                    }
                                    else
                                    {
                                        $input = '<input class="order-form-input" name = "phone" value = "'.$user_data['tele_num'].'">';
                                    }
                                }
                            }
                            else
                            {
                                $input = '<input class="order-form-input" name = "phone" value = "'.$user_data['tele_num'].'">';
                            }
                            
                            echo $input;
                          ?> -->
                          {{  form.tele(class_ = "order-form-input")  }}
                        </div>
                      </div>
                        <div class="row mt-3 mx-4">
                            <div class="col-12">
                              <div class="form-check">
                                <!-- <input type="checkbox" class="form-check-input" name="bringing-fabric" id="bringing-fabric" checked value = 1> -->
                                {{  form.providing_fab(class_ = "form-check-input")  }}
                                <label for="validation" class="form-check-label">Are you providing the fabric?</label>
                              </div>
                            </div>
                        </div>

                        <br>
                        <hr>
                      <div class="row mt-3">
                        <div class="col-12">
                          <!--  {{ form.submit(class_ = "btn")  }}-->
                          <input type="submit" id="btnSubmit" value= "Submit!" class="btn"/>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
        </form>
    </body>
    
</html>